.panel-body .btn:not(.btn-block) { width:240px;margin-bottom:10px; }

.btn-xl {
    padding: 20px 50px;
    font-size: 18px; //change this to your desired size
        line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}