<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerdetaljer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>


    <h1>Detaljer for bruker {{ bruker.getNavn() }}</h1>

    <h2>Brukeropplysninger</h2>
    
    <p><b>Navn: </b> {{ bruker.getBrukerNavn() }}<br/>
       <b>Epost: </b> {{ bruker.getBrukerEpost() }}<br/>
       <b>Telefon: </b> {{ bruker.getBrukerTelefon() }}<br/>
       <b>Brukertype: </b> {{ brukerType }}<br/></p>
       <a href="brukerredigering.php?action=Rediger&brukerId={{ bruker.getBrukerId() }}"><button type="button" class="btn btn-primary">Rediger brukeropplysninger</button></a>
        
    
    <h2>Prosjekter</h2>
        <table class="table table-striped">
            <tr>
                <th>Navn</th>
                <th>Beskrivelse</th>
                <th>Prosjektleder</th>
                <th>Product owner</th>
                <th>Team</th>
                <th>Startdato</th>
                <th>Sluttdato</th>
            </tr>
            {% for p in prosjekter %}
                <tr>
                    <td>{{ p.getProsjektNavn() }}</td>
                    <td>{{ p.getProsjektBeskrivelse() }}</td>
                    <td>{{ UserReg.hentBruker(p.getProsjektLeder()).getBrukerNavn() }}</td>
                    <td>{{ UserReg.hentBruker(p.getProsjektProductOwner()).getBrukerNavn() }}</td>
                    <td>{{ TeamReg.hentTeam(p.getProsjektTeam()).getTeamNavn() }}</td>
                    <td>{{ p.getProsjektStartDato() }}</td>
                    <td>{{ p.getProsjektSluttDato() }}</td>
                </tr>
            {% endfor %}
        </table>

    <h2>Team</h2>
            <table class="table table-striped col-md-6">
                <tr>
                    <th>Navn</th>
                    <th>Leder</th>
                </tr>
                {% for t in teamliste %}
                    <tr>
                        <td>{{ t.getTeamNavn() }}</td>
                        <td>{{ UserReg.hentBruker(t.getTeamLeder()).getBrukerNavn() }}</td>
                    </tr>
                {% endfor %}
            </table>

    
</div>
</body>