<!DOCTYPE html>
<html>
    <head>
        <title>Brukerregistrering</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
        {% include 'header.html' %}
        &larr; <a href="index.php">Hovedside</a>
        <h1>Opprett bruker</h1>
        
        {% if error == "mailExists" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            E-post eksisterer allerede
        </div>
        {% elseif error == "nameExists" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Brukernavn eksisterer allerede
        </div>
        {% endif %}
        
        <form method="post" action="brukerregistrering.php" class="col-md-4">
            <div class="form-group ">
                <label for="navn">Navn:</label>
                <input type="text" class="form-control" id="navn" name="navn">
            </div>
            <div class="form-group ">
                <label for="epost">E-post:</label>
                <input type="email" class="form-control" id="epost" name="epost">
            </div>
            <div class="form-group ">
                <label for="telefon">Telefonnummer:</label>
                <input type="text" class="form-control" id="telefon" name="telefonnummer">
            </div>
            <div class="form-group ">
                <label for="passord">Passord:</label>
                <input type="passord" class="form-control" id="passord" name="passord">
            </div>
            <div class="form-group ">
                <input type="submit" name="opprettBruker" value="Opprett bruker">
            </div>
            

        </form>
    </div>
    </body>
</html>