<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerredigering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Rediger bruker</h1>
            <form method="post" action="brukerredigering.php" class="col-md-4">
            <input type="hidden" name="brukerId" value="{{ bruker.Id }}">

            {% if error == "brukerHoyereNiva" %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Du kan ikke deaktivere en bruker med høyere rettighet enn deg selv.
                </div>
            {% elseif error == "forLavRettighet" %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Du kan ikke gi en annen bruker høyere rettighet enn deg selv.
                </div>
            {% elseif error == "mailExists" %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    E-post eksisterer allerede
                </div>
            {% elseif error == "nameExists" %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Brukernavn eksisterer allerede
                </div>
            {% endif %}

            {% if brukerTilgang.isBrukeradmin %}
            <div class="form-group ">
                <label for="navn">Navn:</label>
                <input type="text" class="form-control" id="navn" name="navn" value="{{ bruker.Navn }}">
            </div>
            <div class="form-group ">
                <label for="type">Brukertype:</label>
                <select name="type" class="form-control" id="type">
                    {% for type in typer %}
                    <option value="{{ type.Id }}" {% if bruker.Brukertype == type.Id %} selected {% endif %}>{{ type.Navn }}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group ">
                <label for="navn2">Navn:</label>
                <input type="text" class="form-control" id="navn2" name="navn" disabled value="{{ bruker.Navn }}">
            </div>
            <div class="form-group ">
                <label for="type2">Brukertype:</label>
                <input type="text" class="form-control" id="type2" name="type" disabled value="{{ brukerReg.Brukertype(bruker.Brukertype).Navn }}">
            </div>
            {% endif %}
            <div class="form-group ">
                <label for="epost">Epost:</label>
                <input type="text" class="form-control" id="epost" name="epost" value="{{ bruker.Epost }}">
            </div>
            <div class="form-group ">
                <label for="telefon">Telefon:</label>
                <input type="text" class="form-control" id="telefon" name="telefon" value="{{ bruker.Telefon }}">
            </div>
            <div class="form-group ">
                <input type="submit" name="action" value="Lagre">
                {% if brukerTilgang.isBrukeradmin %}
                <a href="brukeradministrering.php">Avbryt</a>
                {% else %}
                <a href="index.php">Avbryt</a>
                {% endif %}
            </div>
        </form>

        <form method="post" action="brukerredigering.php" class="col-md-4">
            <input type="hidden" name="brukerId" value="{{ bruker.Id }}">
            <div class="form-group ">
                <label for="nyttPassord">Nytt passord:</label>
                <input type="password" class="form-control" id="nyttPassord" name="nytt_pass">
            </div>
            <div class="form-group ">
                <label for="nyttPassord2">Bekreft nytt passord:</label>
                <input type="password" class="form-control" id="nyttPassord2" name="nytt_pass2">
            </div>
            <div class="form-group ">
                <input type="submit" name="action" value="Bekreft">
                {% if brukerTilgang.isBrukeradmin %}
                <a href="brukeradministrering.php">Avbryt</a>
                {% else %}
                <a href="index.php">Avbryt</a>
                {% endif %}
            </div>
            {% if mismatch %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Passordene var ikke like
            </div>
            {% endif %}
        </form>
        <form method="post" action="brukerredigering.php" class="col-md-4">
            <input type="hidden" name="brukerId" value="{{ bruker.Id }}">
            <h4>Deaktiver bruker</h4>
            <div class="form-group ">
                <input type="submit" name="deaktiver" value="Deaktiver bruker">
            </div>
        </form>

    </div>
    {% include 'footer.html' %}
</body>
</html>