<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerredigering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
    <h1>Rediger bruker</h1>
    {% if error == "mismatch" %}
    <font color=red>Feil i passord</font>
    {% endif %}

        <form method="post" action="brukerredigering.php" class="col-md-4">
            <input type="hidden" name="brukerId" value="{{ bruker.getBrukerId() }}">

            {% if brukerTilgang.isBrukeradmin() %}
            <div class="form-group ">
                <label for="navn">Navn:</label>
                <input type="text" class="form-control" id="navn" name="navn" value="{{ bruker.getBrukerNavn() }}">
            </div>
            <div class="form-group ">
                <label for="type">Brukertype:</label>
                <select name="type" class="form-control" id="type">
                    {% for type in typer %}
                    <option value="{{ type.getId() }}" {% if bruker.getBrukerType() == type.getId() %} selected {% endif %}>{{ type.getNavn() }}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group ">
                <label for="navn2">Navn:</label>
                <input type="text" class="form-control" id="navn2" name="navn" disabled value="{{ bruker.getBrukerNavn() }}">
            </div>
            <div class="form-group ">
                <label for="type2">Brukertype:</label>
                <input type="text" class="form-control" id="type2" name="type" disabled value="{{ userReg.getBrukertype(bruker.getBrukerType()).getNavn() }}">
            </div>
            {% endif %}
            <div class="form-group ">
                <label for="epost">Epost:</label>
                <input type="text" class="form-control" id="epost" name="epost" value="{{ bruker.getBrukerEpost() }}">
            </div>
            <div class="form-group ">
                <label for="telefon">Telefon:</label>
                <input type="text" class="form-control" id="telefon" name="telefon" value="{{ bruker.getBrukerTelefon() }}">
            </div>
            <div class="form-group ">
                <input type="submit" name="action" value="Lagre">
                {% if brukerTilgang.isBrukeradmin() %}
                <a href="brukeradministrering.php">Avbryt</a>
                {% else %}
                <a href="index.php">Avbryt</a>
                {% endif %}
            </div>
        </form>

        <form method="post" action="brukerredigering.php" class="col-md-4">
            <input type="hidden" name="brukerId" value="{{ bruker.getBrukerId() }}">
            <div class="form-group ">
                <label for="nyttPassord">Nytt passord:</label>
                <input type="password" class="form-control" id="nyttPassord" name="nytt_pass">
            </div>
            <div class="form-group ">
                <label for="nyttPassord2">Bekreft nytt passord:</label>
                <input type="password" class="form-control" id="nyttPassord2" name="nytt_pass2">
            </div>
            <div class="form-group ">
                <input type="submit" name="action" value="Bekreft">
                {% if brukerTilgang.isBrukeradmin() %}
                <a href="brukeradministrering.php">Avbryt</a>
                {% else %}
                <a href="index.php">Avbryt</a>
                {% endif %}
            </div>
        </form>

    </div>
</body>