<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerredigering</title>

</head>
<body>
    <div class="container">
    <h1>Rediger bruker</h1>
    {% if error == "mismatch" %}
    <font color=red>Feil i passord</font>
    {% endif %}

    <form class="form-horizontal" method="post" action="brukerredigering.php">
        <input type="hidden" name="brukerId" value="{{ bruker.getBrukerId() }}">
        <table>
            {% if brukerTilgang.isBrukeradmin() %}
            <tr>
                <td>Navn:</td>
                <td><input type="text" name="navn" value="{{ bruker.getBrukerNavn() }}"></td>
            </tr>
            <tr>
                <td>Brukertype:</td>
                <td><select name="type">
                    {% for type in typer %}
                    <option value="{{ type.getId() }}" {% if bruker.getBrukerType() == type.getId() %} selected {% endif %}>{{ type.getNavn() }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            {% else %}
            <tr>
                <td>Navn:</td>
                <td>{{ bruker.getBrukerNavn() }}</td>
            </tr>
            <tr>
                <td>BrukerType:</td>
                <td>{{ userReg.getBrukertype(bruker.getBrukerType()).getNavn() }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>E-Post:</td>
                <td><input type="text" name="epost" value="{{ bruker.getBrukerEpost() }}"></td>
            </tr>
                <td>Telefon:</td>
                <td><input type="text" name="telefon" value="{{ bruker.getBrukerTelefon() }}"></td>
            </tr>
            <tr>
            </tr>
        </table>
        <input type="submit" name="action" value="Lagre">
        {% if brukerTilgang.isBrukeradmin() %}
        <a href="brukeradministrering.php">Avbryt</a>
        {% else %}
        <a href="index.php">Avbryt</a>
        {% endif %}
    </form><br/>
    <form class="form-horizontal" method="post" action="brukerredigering.php">
        <input type="hidden" name="brukerId" value="{{ bruker.getBrukerId() }}">
        <table>
            <tr>
                <td>Nytt passord:</td>
                <td><input type="password" name="nytt_pass"></td>
            </tr>
            <tr>
                <td>Bekreft nytt passord:</td>
                <td><input type="password" name="nytt_pass2"></td>
            </tr>
        </table>
        <input type="submit" name="action" value="Bekreft">

        {% if brukerTilgang.isBrukeradmin() %}
        <a href="brukeradministrering.php">Avbryt</a>
        {% else %}
        <a href="index.php">Avbryt</a>
        {% endif %}
    </form>
    </div>
</body>