<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timegodkjenning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Backup/gjenopretting</h1>
    
        <div class="btn-group">
            <a href="DBdump.php"><button type="button" class="btn btn-primary">Ta backup</button></a>
            <a href="DBrestore.php?action=factoryreset"><button type="button" class="btn btn-primary">Factory reset</button></a>
            <a href="DBrestore.php?action=backup-220417"><button type="button" class="btn btn-primary">Gjenopprett backup 22.04.17</button></a>
        </div>

    </div>
    {% include 'footer.html' %}
</body>
</html>