<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faseoppretting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    <h1>Opprett ny fase</h1>
    
    {% if error == "sluttEtterStart" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Startdatoen må være før sluttdatoen
        </div>   
    {% elseif error == "datoUtenforProsjekt" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Start- og sluttdatoene for fasen må være innenfor start- og sluttdatoene for prosjektet, henholdsvis {{ prosjekt.StartDato }} og {{ prosjekt.SluttDato }}
        </div>
    {% endif %}
    
    <h2>Prosjekt: {{ prosjekt.Navn }}</h2>
    <p>Prosjektet er aktivt mellom {{ prosjekt.StartDato }} og {{ prosjekt.SluttDato }}</p>
    <form method="post" action="faseoppretting.php"  class="col-md-4">
        <input type="hidden" name="prosjektId" value="{{ prosjekt.Id }}"/>
        {% if fase.Id > -1 %}
        <input type="hidden" name="faseId" value="{{ fase.Id }}"/>
        {% endif %}
        <div class="form-group ">
            <label for="fasenavn">Fasenavn:</label>
            <input type="text" class="form-control" id="fasenavn" name="faseNavn" value="{{ fase.Navn }}">
        </div>
        <div class="form-group ">
            <label for="faseStartdato">Startdato:</label>
            <input type="date" class="form-control" id="faseStartdato" name="faseStartdato" value="{{ fase.StartDato }}" min="{{ prosjekt.StartDato }}" max="{{ prosjekt.SluttDato }}">
        </div>
        <div class="form-group ">
            <label for="faseSluttdato">Sluttdato:</label>
            <input type="date" class="form-control" id="faseSluttdato" name="faseSluttdato" value="{{ fase.SluttDato }}" min="{{ prosjekt.StartDato }}" max="{{ prosjekt.SluttDato }}">
        </div>
        <div class="form-group ">
            <label for="faseTilstand">Tilstand:</label>
            <select name="faseTilstand" class="form control" id="faseTilstand">
            {% for tilstand in fasetilstander %}
                <option value="{{ tilstand }}" {% if tilstand == fase.Tilstand %}selected{% endif %}>{{ tilstand }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group ">
            <input type="submit" name="lagre" {% if fase.Id >= 0 %} value="Endre fase" {% else %} value="Opprett fase" {% endif %}>
        </div>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>