<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faseoppretting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    <h1>Opprett ny fase</h1>
    <h2>Prosjekt: {{ prosjekt.getProsjektNavn() }}</h2>
    <!--<form method="post" action="faseoppretting.php">-->
        <!--<input type="hidden" name="prosjektId" value="{{ prosjekt.getId() }}"/>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td>Navn</td>-->
                <!--<td><input type="text" name="faseNavn"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Startdato</td>-->
                <!--<td><input type="date" name="faseStartdato"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Sluttdato</td>-->
                <!--<td><input type="date" name="faseSluttdato"/></td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<input type="submit" value="Opprett fase" name="lagre"/>-->
    <!--</form>-->
    <form method="post" action="faseoppretting.php"  class="col-md-4">
        <input type="hidden" name="prosjektId" value="{{ prosjekt.getId() }}"/>
        <div class="form-group ">
            <label for="fasenavn">Fasenavn:</label>
            <input type="text" class="form-control" id="fasenavn" name="faseNavn">
        </div>
        <div class="form-group ">
            <label for="faseStartdato">Startdato:</label>
            <input type="date" class="form-control" id="faseStartdato" name="faseStartdato">
        </div>
        <div class="form-group ">
            <label for="faseSluttdato">Sluttdato:</label>
            <input type="date" class="form-control" id="faseSluttdato" name="faseSluttdato">
        </div>
        <div class="form-group ">
            <input type="submit" name="lagre" value="Opprett fase">
        </div>
    </form>
</div>