<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Timeregistrering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
    {% if innlogget %}
        <h1>Velkommen {{ bruker.Navn }}</h1>
        
        {% if error == "ikkeInnlogget" %}
        <div class="alert alert-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du må være innlogget for å ha tilgang til siden
        </div>
        {% elseif error == "feil" %}
        <div class="alert alert-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Det oppsto en feil
        </div>
        {% elseif error == "ugyldigProsjekt" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til prosjektet
        </div>
        {% elseif error == "ugyldigOppgave" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til oppgaven
            </div>
        {% elseif error == "ugyldigTimereg" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til denne timeregistreringen
            </div>
        {% elseif error == "ugyldigPause" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                For å kunne sette en timeregistrering på pause må det være en startet timeregistrering.
            </div>
        {% elseif error == "ugyldigFortsettelse" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                For å fortsette en timeregistreringen må den være satt på pause.
            </div>
        {% elseif error == "ugyldigStopp" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Timeregistreringen er allerede stoppet, og kan derfor ikke stoppes.
            </div>
        {% elseif error == "alleredeAktivTimereg" %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du kan kun ha en aktiv timeregistrering om gangen. Du må stoppe den aktive timeregistreringen før du starter en ny.
            </div>
        {% elseif error == "manglendeRettighet" %}
            {% if side == "bradm" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til brukeradministrering
            </div>
            {% elseif side == "brred" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til brukerredigering
            </div>
            {% elseif side == "oppgdet" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til oppgavedetaljer
            </div>
            {% elseif side == "oppgopp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til oppgaveoppretting
            </div>
            {% elseif side == "optopp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til å opprette oppgavetyper
            </div>
            {% elseif side == "optred" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til å redigere oppgavetyper
            </div>
            {% elseif side == "pradm" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til prosjektadministrering
            </div>
            {% elseif side == "propp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til prosjektoppretting
            </div>
            {% elseif side == "prrapp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til prosjektrapporter
            </div>
            {% elseif side == "teamadm" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Kun teamleder har tilgang til teamadministrering
            </div>
            {% elseif side == "teamopp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Kun teamleder har tilgang til teamoppretting
            </div>
            {% elseif side == "teamrapp" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Kun teamleder har tilgang til teamrapport
            </div>
            {% elseif side == "timegod" %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Kun teamleder har tilgang til timegodkjenning
            </div>
            {% else %}
            <div class="alert alert-error" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Du har ikke tilgang til å vise siden
            </div>
            {% endif %}
        {% endif %}
        
        {% if aktivert %}
            <!--
            <div class="btn-group">
                <a href="timeregistrering.php"><button type="button" class="btn btn-primary">Timeregistrering</button></a>
                <a href="timeoversikt.php"><button type="button" class="btn btn-primary">Timeoversikt</button></a>
                {% if brukerTilgang.isTeamleder and TeamReg.harTeamlederEtTeam(bruker.Id) %}<a href="timegodkjenning.php"><button type="button" class="btn btn-primary">Timegodkjenning</button></a>{% endif %}
                {% if brukerTilgang.isTeamleder %}<a href="prosjektadministrering.php"><button type="button" class="btn btn-primary">Prosjektadministrering</button></a>{% endif %}
                {% if brukerTilgang.isBrukeradmin %}<a href="brukeradministrering.php"><button type="button" class="btn btn-primary">Brukeradministrering</button></a>{% endif %}
                {% if brukerTilgang.isBrukeradmin %}<a href="SystemInnstillinger.php"><button type="button" class="btn btn-default">Systeminnstillinger</button></a>{% endif %}
            </div> -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <a href="dashbordBruker.php" class="btn btn-danger btn-xl" role="button"><span
                                        class="glyphicon glyphicon-user"></span> <br/>Bruker</br> </a>
                            </div>
                            {% if brukerTilgang.isTeamleder %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="dashbordTeamleder.php" class="btn btn-warning btn-xl" role="button"><span
                                            class="glyphicon glyphicon-bookmark"></span> <br/>Teamleder</br> </a>
                                </div>
                            {% endif %}
                            {% if brukerTilgang.isProsjektadmin %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="dashbordProsjektleder.php" class="btn btn-success btn-xl" role="button"><span
                                            class="glyphicon glyphicon-folder-open"></span> <br/>Prosjektleder</a>
                                </div>
                            {% endif %}
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <a href="dashbordProductOwner.php" class="btn btn-info btn-xl" role="button"><span
                                        class="glyphicon glyphicon-eye-open"></span> <br/>Product </br> Owner</a>
                            </div>
                            {% if brukerTilgang.isSystemadmin %}
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="SystemInnstillinger.php" class="btn btn-info btn-xl" role="button"><span
                                            class="glyphicon glyphicon-wrench"></span> <br/>Systeminnstillinger</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
    
                </div>
            </div>
            
            <h2>Timeregistrering</h2>
            <div class="form-horizontal">
            <div class="form-group">
                <form method="post" action="index.php" class="col-md-4" id="timeregForm">
                    <label for="prosjekt">Prosjekt:</label>
                    {% if aktiv %}
                    <select class="form-control" name="prosjektId" id="prosjekt" disabled>
                        <option value="{{ prosjekt.Id }}" selected>{{ prosjekt.Navn }}</option>
                    </select>
                    {% else %}
                        <select name="prosjektId" class="form-control" id="prosjekt" onchange="document.getElementById('timeregForm').submit();">
                            {% if valgtProsjekt < 1 %}
                            <option selected="selected"></option>
                            {% endif %}
                            {% for prosjekt in prosjektListe %}
                                {% if prosjekt.StatusString == "Aktiv" %}
                                    <option value="{{ prosjekt.Id }}"{% if prosjekt.Id == valgtProsjekt %} selected="selected"{% endif %}>{{ prosjekt.Navn }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if valgtProsjekt < 1 %}
                        <small class="form-text text-muted">Velg prosjekt</small>
                        {% elseif oppgaveListe|length == 0 %}
                        <small class="form-text text-muted">Valgt prosjekt har ingen oppgaver</small>
                        {% endif %}
                    {% endif %} <!-- manuell -->
                </form>
            </div>
            
            {% if visOppgave %}
            <div class="form-group ">
                <form method="post" action="index.php" class="col-md-4" id="timeregForm2">
                    <input type="hidden" name="prosjektId" value="{{ valgtProsjekt }}">
                    <label for="oppgave">Oppgave:</label>
                    {% if aktiv %}
                    <select name="oppgave" class="form-control" disabled id="oppgave">
                        <option value="{{ oppgave.Id }}" selected="selected">{{ oppgave.Navn }}
                        </option>
                        {% if visSkjema %}
                        <br>Tidsestimat: {{ tidsestimat }}
                        <br>Aktiv tid: {{ aktivTid }}
                        {% endif %}
                    </select>
                    {% else %}
                    <select name="oppgave" class="form-control" id="oppgave" onchange="document.getElementById('timeregForm2').submit();">
                        {% if valgtOppgave < 1 %}
                            <option selected="selected"></option>
                        {% endif %}
                        {% for oppgave in oppgaveListe %}
                        <option value="{{ oppgave.Id }}" {% if oppgave.Id== valgtOppgave %}
                                selected="selected" {% endif %}>{{ oppgave.Navn }}
                        </option>
                        {% endfor %}
                    </select>
                        {% if visSkjema %}
                        <br>Tidsestimat: {{ tidsestimat }}
                        <br>Aktiv tid: {{ aktivTid }}
                        {% endif %}
                    {% endif %} <!-- aktiv -->
                </form>
            </div>
            </div>
            {% endif %} <!-- visOppgave -->
        
            {% if visSkjema %}
            <div class="form-group">
                <form method="post" action="index.php" class="col-md-4">
                    <input type="hidden" name="timeregId" value="{{ registrering.Id }}">
                    <input type="hidden" name="prosjektId" value="{{ valgtProsjekt }}"/>
                    <input type="hidden" name="oppgave" value="{{ valgtOppgave }}">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" name="forslag" value="Foreslå tidsestimat">
                    </div>
            
                    <div class="form-group ">
                        <label for="dato">Dato:</label>
                        <input type="date" class="form-control" id="dato" name="dato" disabled value="{{ dagensdato }}">
                    </div>
                    <div class="form-group">
                        {% if aktiv %}
                            <input class="btn btn-lg" type="submit" name="submit" value="Start" disabled/>
                            {% if registrering.Status == 1 %}
                            <input class="btn btn-success btn-lg" type="submit" name="submit" value="Fortsett"/>
                            {% else %}
                            <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Pause"/>
                            {% endif %}
                            <input class="btn btn-danger btn-lg" type="submit" name="submit" value="Stopp"/>
                        {% else %}
                            <input class="btn btn-success btn-lg" type="submit" name="submit" value="Start"/>
                            <input class ="btn btn-lg" type="submit" name="submit" value="Pause" disabled/>
                            <input class="btn btn-lg" type="submit" name="submit" value="Stopp" disabled/>
                        {% endif %}
                    </div>
                </form>
            </div>
            {% endif %} <!-- visSkjema -->

        {% else %}
        <h2>Brukeren din er deaktivert</h2>
        <div class="btn-group">
            <a href="timeoversikt.php"><button type="button" class="btn btn-primary">Timeoversikt</button></a>
        </div>
        {% endif %}

        {% if regSucc %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Registreringen var vellykket!
        </div>
        {% endif %}

    {% else %} <!-- ikke innlogget -->
        {% if error == "ikkeInnlogget" %}
        <div class="alert alert-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du må være innlogget for å ha tilgang til siden
        </div>
        {% endif %}
        <form method="post" action="index.php" class="col-md-4">
            <div class="form-group ">
                <label for="emailAdresse">Epost-adresse eller brukernavn:</label>
                <input type="text" class="form-control" id="emailAdresse" name="brukernavn">
            </div>
            <div class="form-group ">
                <label for="passordField">Passord:</label>
                <input type="password" class="form-control" id="passordField" name="passord">
            </div>
            <div class="form-group">
                {% if loginFail %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Feil brukernavn/passord
                </div>
                {% endif %}
                <input type="submit" name="login" value="Logg inn">
            </div>

        </form>
    {% endif %}
    </div>

</div>
    {% include 'footer.html' %}

</body>
</html>