<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeregistrering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
    {% if innlogget %}
        <h1>Velkommen {{ bruker.getBrukerNavn() }}</h1>
        {% if error == "noAccess" %}
        <font color=red>Du har ikke tilgang til denne siden</font><br/>
        {% elseif error == "lagret" %}
        <font color=green>Endringene ble lagret</font><br/>
        {% endif %}
        <div class="btn-group">
            <a href="timeregistrering.php"><button type="button" class="btn btn-primary">Timeregistrering</button></a>
            <a href="timeoversikt.php"><button type="button" class="btn btn-primary">Timeoversikt</button></a>
            {% if brukerTilgang.isTeamleder() %}<a href="timegodkjenning.php"><button type="button" class="btn btn-primary">Timegodkjenning</button></a>{% endif %}
            <!--<a href="brukerdetaljer.php"><button type="button" class="btn btn-primary">Brukerdetaljer</button></a>-->
            {% if brukerTilgang.isTeamleder() %}<a href="prosjektadministrering.php"><button type="button" class="btn btn-primary">Prosjektadministrering</button></a>{% endif %}
            {% if brukerTilgang.isBrukeradmin() %}<a href="brukeradministrering.php"><button type="button" class="btn btn-primary">Brukeradministrering</button></a>{% endif %}
            <!--<a href="faseadministrering.php">Faseadministrering</a><br/>-->
            <!--<a href="brukerredigering.php?action=Rediger&brukerId={{ bruker.getBrukerId() }}"><button type="button" class="btn btn-primary">Rediger brukeropplysninger</button></a>-->

        </div>
    {% else %}

        <form method="post" action="index.php" class="col-md-4">
            <div class="form-group ">
                <label for="emailAdresse">Epost-adresse:</label>
                <input type="text" class="form-control" id="emailAdresse" name="brukernavn">
            </div>
            <div class="form-group ">
                <label for="passordField">Passord:</label>
                <input type="password" class="form-control" id="passordField" name="passord">
            </div>
            <div class="form-group">
                {% if loginFail %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Feil brukernavn/passord
                </div>
                {% endif %}
                <input type="submit" name="login" value="Logg inn">
            </div>

        </form>
    {% endif %}
    </div>
</body>
</html>