<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeregistrering</title>
</head>
<body>
    
    {% if innlogget %}
        <h1>Velkommen</h1>
        <a href="timeregistrering.php">Timeregistrering</a>
        <a href="prosjektadministrering.php">Prosjektadministrering</a>
        <a href="logout.php">Logg ut</a>
    {% else %}
        <form method="post" action="index.php">
        <table>
            <tr>
                <td> Brukernavn:</td>
            </tr>
            <tr>
                <td><input type="text" name="brukernavn"></td>
            </tr>
            <tr>
                <td>Passord:</td>
            </tr>
            <tr>
                <td><input type="password" name="passord"></td>
            </tr>
            <tr>
                <td><input type="submit" name="login" value="Logg inn"></td>
            </tr>
        </table>
    </form>
    {% endif %}
</body>
</html>