<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oppgaveoppretting</title>

</head>
<body>
    {% if valgtOppgave.getOppgaveId() > 0 %}
        <h1>Rediger oppgave</h1>
    {% elseif valgtOppgave.getParentId() > 0 %}
        <h1>Opprett ny underoppgave</h1>
    {% else %}
        <h1>Opprett ny oppgave</h1>
    {% endif %}
    
    <form method="post" action="oppgaveoppretting.php">
        <input type="hidden" name="prosjekt" value="{{ valgtProsjekt.getId() }}">
        {% if valgtOppgave.getId() > 0 %}
        <input type="hidden" name="oppgaveId" value="{{ valgtOppgave.getId() }}">
        {% endif %}
        <table>
            <tr>
                <td>Oppgavenavn:</td>
                <td><input type="text" name="oppgaveNavn" value="{{ valgtOppgave.getOppgaveNavn() }}"></td>
            </tr>
            <tr>
                <td>Oppgavetype</td>
                <td><select name="oppgavetype">
                    {% for oppgavetype in oppgavetyper %}
                    <option value="{{ oppgavetype.getId() }}" {% if valgtOppgave.getOppgaveType() == oppgavetype.getId() %} selected="selected"{% endif %}>{{ oppgavetype.getNavn() }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Fase</td>
                <td><select name="fase">
                    <option value="0"{% if valgtOppgave == null or valgtOppgave.getFase() == 0 %} selected="selected"{% endif %}>Backlog</option>
                    {% for fase in faser %}
                    <option value="{{ fase.getFaseId() }}"{% if valgtOppgave.getFaseId() == fase.getFaseId() %} selected="selected"{% endif %}>{{ fase.getFaseNavn() }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Tidsestimat:</td>
                <td><input type="text" name="tidsestimat" value="{{ valgtOppgave.getTidsestimat() }}"></td>
            </tr>
                <td>Oppgave periode:</td>
                <td><input type="text" name="periode" value="{{ valgtOppgave.getPeriode() }}"></td>
            </tr>
            <tr>
            </tr>
        </table>
        <input type="submit" name="opprettOppgave" value="Opprett oppgave">
        <a href="prosjektdetaljer.php?prosjekt={{ valgtProsjekt.getId() }}">Avbryt</a>
    </form>
</body>