<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerredigering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <div class="col-md-3">
            <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
        <h1>Oppgavetyper</h1>

        <table class="table table-striped">
            <tr>
                <th>Oppgavetype</th>
                <th></th>
                <th></th>
            </tr>
            {% for type in oppgavetyper %}
            <tr>
                <td>{{ type.Navn }}</td>
                <td><a href="oppgavetypeoppretting.php?oppgavetypeId={{ type.getId }}">Rediger</a></td>
                <td><a href="">Slett</a></td>
            </tr>

            {% endfor %}
        </table>
            <a href="oppgavetypeoppretting.php">Legg til oppgavetype</a>
        </div>

    </div>
    {% include 'footer.html' %}
</body>
</html>