<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brukerredigering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    {% include 'header.html' %}
    <div class="col-md-6 row">
    {% if oppgavetype.getId() > 0 %}
    <h1>Rediger oppgavetype</h1>
    {% else %}
    <h1>Opprett ny oppgavetype</h1>
    {% endif %}

    <div class="col-md-4 row">
    <form method="post" action="oppgavetypeoppretting.php">
        {% if oppgavetype.getId() > -1 %}
        <input type="hidden" name="oppgavetypeId" value="{{ oppgavetype.getId() }}"/>
        {% endif %}
        <div class="form-group ">
            <label for="oppgavenavn">Oppgavenavn:</label>
            <input type="text" class="form-control" id="oppgavenavn" name="oppgaveNavn" value="{{ oppgavetype.getNavn() }}">
        </div>
        <div class="form-group ">
            <input type="submit" name="lagre" value="Lagre">
        </div>
    </form>
    </div>
    </div>
</div>

</body>
</html>