<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oppgaveoppretting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
<div class="container">
{% include 'header.html' %}
    {% if valgtOppgave.Id > 0 %}
        <h1>Rediger oppgave</h1>
    {% elseif valgtOppgave.ParentId > 0 %}
        <h1>Opprett ny underoppgave</h1>
    {% else %}
        <h1>Opprett ny oppgave</h1>
    {% endif %}

    <form method="post" action="oppgaveoppretting.php" class="col-md-4">
        <input type="hidden" name="prosjektId" value="{{ valgtProsjekt.Id }}">
        {% if valgtOppgave.Id > 0 %}
            <input type="hidden" name="oppgaveId" value="{{ valgtOppgave.Id }}">
        {% endif %}
        <div class="form-group">
            <label for="oppgavenavn">Oppgavenavn:</label>
            <input type="text" class="form-control" id="oppgavenavn" name="oppgaveNavn" value="{{ valgtOppgave.Navn }}">
        </div>
        <div class="form-group ">
            <label for="oppgavetype">Oppgavetype:</label>
            <select name="oppgavetype" class="form-control" id="oppgavetype">
                {% for oppgavetype in oppgavetyper %}
                <option value="{{ oppgavetype.Id }}" {% if valgtOppgave.Type == oppgavetype.Id %} selected="selected"{% endif %}>{{ oppgavetype.Navn }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group ">
            <label for="fase">Fase:</label>
            <select name="fase" class="form-control" id="fase">
                {% for fase in faser %}
                <option value="{{ fase.Id }}"{% if valgtOppgave.FaseId == fase.Id %} selected="selected"{% endif %}>{{ fase.Navn }}</option>
                {% endfor %}
            </select>
            {% if error == "ingenFase" %}
            <font color=red>Ingen fase er valgt</font><br>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="tidsestimat">Tidsestimat:</label>
            <input type="text" class="form-control" id="tidsestimat" name="tidsestimat" value="{{ valgtOppgave.Tidsestimat }}">
        </div>
        <div class="form-group">
            <label for="periode">Oppgaveperiode:</label>
            <input type="text" class="form-control" id="periode" name="periode" value="{{ valgtOppgave.Periode }}">
        </div>
        <div class="form-group">
            <label for="tilstand">Oppgavetilstand:</label>
            <input type="text" class="form-control" id="tilstand" name="tilstand" value="{{ valgtOppgave.Tilstand }}">
        </div>
        <div class="form-group ">
            {% if valgtOppgave.Id > 0 %}
            <input type="submit" name="opprettOppgave" value="Rediger oppgave">
            {% else %}
            <input type="submit" name="opprettOppgave" value="Opprett oppgave">
            {% endif %}
            <a href="prosjektdetaljer.php?prosjektId={{ valgtProsjekt.Id }}">Avbryt</a>
        </div>

    </form>
</div>
{% include 'footer.html' %}
</body>
</html>