<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oppgavedetaljer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    <span class="glyphicon glyphicon-arrow-left"></span><a href="prosjektdetaljer.php?prosjekt={{ fasereg.hentFase(oppgave.getFaseId()).getProsjektId }}">Prosjektdetaljer</a>
    <h1>Oppgavedetaljer for {{ oppgave.getNavn }}</h1>

    <div class="col-lg-4">

            <table class="table table-striped">
                <tr>
                    <th>Forslag</th>
                    <th>Foreslått av</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for forslag in estimatliste %}
                <tr>
                    <td>{{ forslag.getEstimat() }}</td>
                    <td>{{ userReg.hentBruker(forslag.getBrukerId()).getNavn() }}</td>
                    <td>
                        <a href="oppgavedetaljer.php?oppgave={{ oppgave.getId() }}&accept={{ forslag.getId() }}&estimat={{ forslag.getEstimat() }}">
                            <button class="btn btn-success">Godkjenn</button>
                        </a>
                    </td>
                    <td>
                        <a href="oppgavedetaljer.php?oppgave={{ oppgave.getId() }}&reject={{ forslag.getId() }}">
                            <button class="btn btn-danger">Forkast</button>
                        </a></td>
                </tr>
                {% endfor %}
            </table>

    </div>
</div>
{% include 'footer.html' %}
</body>
</html>