<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektdetaljer</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap table -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <!-- Ekstra -->
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="prosjektadministrering.php">Prosjektoversikt</a>

    <h1>Prosjektdetaljer for prosjekt {{ prosjekt.Navn }}</h1>
        {% if brukerTilgang.isProsjektAdmin %}
        <a href="oppgavetyper.php">Endre oppgavetyper</a><br/>
        {% endif %}
        <a href="prosjektrapport.php?prosjektId={{ prosjekt.Id }}">Vis prosjektrapport</a>
        
    {% if error == "ugyldigOppgave" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til oppgaven
        </div>
    {% elseif error == "ugyldigOppgaveAct" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å legge til eller redigere oppgaver på dette prosjektet
        </div>
    {% elseif error == "ugyldigFase" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å legge til eller redigere faser på dette prosjektet
        </div>
    {% endif %}
        
    <h1>Prosjekthierarki</h1>
    <table class="table table-striped">
        <tr>
            <th class="col-lg-2">Prosjekt</th>
            <th class="col-lg-2">Prosjektleder</th>
            <th class="col-lg-1">Team</th>
            <th class="col-lg-1">Startdato</th>
            <th class="col-lg-1">Sluttdato</th>
            <th class="col-lg-2">Beskrivelse</th>
            <th class="col-lg-1">Status</th>
            <th class="col-lg-2"></th>
        </tr>
        {% if parentProsjekt and parentProsjekt.Id > 1 %}
            <tr>
                <td><a href="prosjektdetaljer.php?prosjektId={{ parentProsjekt.Id }}">[{{ parentProsjekt.Navn }}]</a></td>
                <td>{{ brukerReg.hentBruker(parentProsjekt.Leder).Navn}}</td>
                <td>{{ TeamReg.hentTeam(parentProsjekt.Team).Navn }}</td>
                <td>{{ parentProsjekt.StartDato }}</td>
                <td>{{ parentProsjekt.SluttDato }}</td>
                <td>{{ parentProsjekt.Beskrivelse }}</td>
                <td>{{ parentProsjekt.Status }}</td>
                <td></td>
            </tr>
        {% endif %}

        {% for prosjektoversikt in prosjektOversiktRoot %}
            <tr>
                <td>
                    {% if prosjektoversikt.Prosjekt.Id != prosjekt.Id %}
                    <a href="prosjektdetaljer.php?prosjektId={{ prosjektoversikt.Prosjekt.Id }}">{{ prosjektoversikt.NavnMedInnrykk|raw }}</a>
                    {% else %}
                    {{ prosjektoversikt.NavnMedInnrykk|raw }}
                    {% endif %}
                </td>
                <td>{{ brukerReg.hentBruker(prosjektoversikt.Prosjekt.Leder).Navn}}</td>
                <td>{{ TeamReg.hentTeam(prosjektoversikt.Prosjekt.Team).Navn }}</td>
                <td>{{ prosjektoversikt.Prosjekt.StartDato }}</td>
                <td>{{ prosjektoversikt.Prosjekt.SluttDato }}</td>
                <td>{{ prosjektoversikt.Prosjekt.Beskrivelse }}</td>
                <td>{{ prosjektoversikt.Prosjekt.Status }}</td>
                <td>
                    <a href="prosjektoppretting.php?action=Opprett underprosjekt&prosjektId={{ prosjektoversikt.Prosjekt.Id }}" class="btn btn-success" aria-label="Legg til underprosjekt"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    <a href="prosjektoppretting.php?action=Rediger&prosjektId={{ prosjektoversikt.Prosjekt.Id }}" class="btn btn-default" aria-label="Rediger"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    {% if prosjektoversikt.Prosjekt.Arkivert %}
                        <a href="prosjektdetaljer.php?action=Gjenopprett&prosjektId={{ prosjektoversikt.Prosjekt.Id }}&visProsjekt={{ prosjekt.Id }}" class="btn btn-primary" aria-label="Gjenopprett"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
                    {% else %}
                        <a href="prosjektdetaljer.php?action=Arkiver&prosjektId={{ prosjektoversikt.Prosjekt.Id }}&visProsjekt={{ prosjekt.Id }}" class="btn btn-danger" aria-label="Arkiver"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>


    <h1>Faser</h1>
    <table id="fasetabell" class="table table-striped" data-toggle="table" data-sort-name="startdate" data-sort-order="asc" data-id-field="id">
        <thead>
            <tr>
                <th data-order="desc" data-field="name" data-sortable="true">Navn</th>
                <th data-order="desc" data-field="state" data-sortable="true">Tilstand</th>
                <th data-order="desc" data-field="startdate" data-sortable="true">Startdato</th>
                <th data-order="desc" data-field="enddate" data-sortable="true">Sluttdato</th>
                <th data-order="desc" data-field="edit"></th>
            </tr>
        </thead>
        <tbody>
            {% for fase in faseliste %}
                <tr>
                    <td>{{ fase.Navn }}</td>
                    <td>{{ fase.Tilstand }}</td>
                    <td>{{ fase.StartDato }}</td>
                    <td>{{ fase.SluttDato }}</td>
                    <td><a href="faseoppretting.php?prosjektId={{ prosjekt.Id }}&faseId={{ fase.Id }}">rediger</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if brukerKanRedigere %}
        <a href="faseoppretting.php?prosjektId={{ prosjekt.Id }}">Legg til fase</a>
    {% endif %}

    {% for fase in faseliste %}
        <h1>{{ fase.Navn }}</h1>
        <table id="table_{{ loop.index0 }}" class="table table-striped" data-toggle="table" data-id-field="id">
            <thead>
                <tr>
                    <th data-order="desc" data-field="task" data-sortable="true" data-sort-name="_task_data" data-sorter="taskSorter">Oppgave</th>
                    <th data-order="desc" data-field="parent" data-sortable="true">Parent</th>
                    <th data-order="desc" data-field="tasktype" data-sortable="true">Oppgavetype</th>
                    <th data-order="desc" data-field="period" data-sortable="true">Periode</th>
                    <th data-order="desc" data-field="estimatedtime" data-sortable="true">Estimert tid</th>
                    <th data-order="desc" data-field="registeredtime" data-sortable="true">Registrert tid</th>
                    <th data-order="desc" data-field="approvedtime" data-sortable="true">Godkjent tid</th>
                </tr>
            </thead>
            <tbody>
                {% for oppgave in oppgaveliste %}
                    {% if oppgave.FaseId == fase.Id %}
                    <tr>
                        {% if brukerTilgang.isTeamleder and brukerKanRedigere %}
                        <td data-taskname="{{ oppgave.Navn|lower }}"><a href="oppgavedetaljer.php?oppgaveId={{ oppgave.Id }}">{{ oppgave.Navn }}</a></td>
                        {% else %}
                        <td data-taskname="{{ oppgave.Navn|lower }}">{{ oppgave.Navn }}</td>
                        {% endif %}
                        <td>{{ oppgavereg.hentOppgave(oppgave.ParentId).Navn }}</td>
                        <td>{{ oppgavereg.hentOppgaveTypeTekst(oppgave.Type) }}</td>
                        <td>{{ oppgave.Periode }}</td>
                        <td>{{ oppgave.Tidsestimat }}</td>
                        <td>{{ oppgavereg.hentAktiveTimerPrOppgave(oppgave.Id) }}</td>
                        <td>{{ oppgavereg.hentGodkjenteTimerPrOppgave(oppgave.Id) }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    {% if brukerKanRedigere %}
        <a href="oppgaveoppretting.php?prosjektId={{ prosjekt.Id }}">Legg til ny oppgave</a>
    {% endif %}

</div>
    <script type="text/javascript">
        //<!--
        function taskSorter(a, b) {
            if (a.taskname < b.taskname) return -1;
            if (a.taskname > b.taskname) return 1;
            return 0;
        }
        //-->
    </script>
    {% include 'footer.html' %}
</body>
</html>