<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektdetaljer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
    <br>&larr; <a href="prosjektadministrering.php">Prosjektoversikt</a>

    <h1>Prosjektdetaljer for prosjekt {{ prosjekt.getProsjektNavn() }}</h1>
        <a href="oppgavetyper.php">Endre oppgavetyper</a>
    <h1>Faser</h1>
        <table class="table table-striped">
            <tr>
                <th>Navn</th>
                <th>Tilstand</th>
                <th>Startdato</th>
                <th>Sluttdato</th>
                <th></th>
            </tr>
            {% for fase in faseliste %}
                <tr>
                    <td>{{ fase.getFaseNavn() }}</td>
                    <td>{{ fase.getFaseTilstand() }}</td>
                    <td>{{ fase.getFaseStartDato() }}</td>
                    <td>{{ fase.getFaseSluttDato() }}</td>
                    <td><a href="faseoppretting.php?prosjektId={{ prosjekt.getId() }}&faseId={{ fase.getFaseId() }}">rediger</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="faseoppretting.php?prosjektId={{ prosjekt.getId() }}">Legg til fase</a>
    <h1>Backlog</h1>
            <table class="table table-striped col-md-6">
                <tr>
                    <th>Oppgave</th>
                    <th>Parent</th>
                    <th>Oppgavetype</th>
                    <th>Periode</th>
                    <th>Estimert tid</th>
                    <th>Registrert tid</th>
                    <th>Godkjent tid</th>
                </tr>
                {% for oppgave in oppgaveliste %}
                    {% if oppgave.getFaseId() == null %}
                    <tr>
                        <td>{{ oppgave.getOppgaveNavn() }}</td>
                        <td>{{ oppgavereg.hentOppgave(oppgave.getParentId()).getOppgaveNavn() }}</td>
                        <td>{{ oppgavereg.hentOppgaveTypeTekst(oppgave.getOppgaveType()) }}</td>
                        <td>{{ oppgave.getPeriode() }}</td>
                        <td>{{ oppgave.getTidsestimat() }}</td>
                        <td>{{ oppgavereg.hentAktiveTimerPrOppgave(oppgave.getOppgaveId()) }}</td>
                        <td>{{ oppgavereg.hentGodkjenteTimerPrOppgave(oppgave.getOppgaveId()) }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
    {% for fase in faseliste %}
    <h1>{{ fase.getFaseNavn() }}</h1>
            <table class="table table-striped">
                <tr>
                    <th>Oppgave</th>
                    <th>Parent</th>
                    <th>Oppgavetype</th>
                    <th>Periode</th>
                    <th>Estimert tid</th>
                    <th>Registrert tid</th>
                    <th>Godkjent tid</th>
                </tr>
                {% for oppgave in oppgaveliste %}
                    {% if oppgave.getFaseId() == fase.getFaseId() %}
                    <tr>
                        <td>{{ oppgave.getOppgaveNavn() }}</td>
                        <td>{{ oppgavereg.hentOppgave(oppgave.getParentId()).getOppgaveNavn() }}</td>
                        <td>{{ oppgavereg.hentOppgaveTypeTekst(oppgave.getOppgaveType()) }}</td>
                        <td>{{ oppgave.getPeriode() }}</td>
                        <td>{{ oppgave.getTidsestimat() }}</td>
                        <td>{{ oppgavereg.hentAktiveTimerPrOppgave(oppgave.getOppgaveId()) }}</td>
                        <td>{{ oppgavereg.hentGodkjenteTimerPrOppgave(oppgave.getOppgaveId()) }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% endfor %}
            
            <a href="oppgaveoppretting.php?prosjekt={{ prosjekt.getId() }}">Legg til ny oppgave</a>
    
</div>
</body>