<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektadministrering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Prosjektadministrering</h1>
    {% if error == "noRadio" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Ingen prosjekt valgt
        </div>
    {% elseif error == "arkivert" %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Prosjekt arkivert
        </div>
    {% elseif error == "ugyldigProsjekt" %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Ugyldig prosjektID
        </div>
    {% endif %}
    <p>
        <form method="get">
            <input type="checkbox" name="visArkivert" onClick="submit()" {% if visArkivert %}checked{% endif %}/> Vis arkiverte prosjekter
        </form>
    </p>
    

    <p>
        <form action=prosjektoppretting.php method=GET>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th class="col-lg-2">Prosjekt</th>
                    <th class="col-lg-1">Parent</th>
                    <th class="col-lg-1">Prosjektleder</th>
                    <th class="col-lg-1">Team</th>
                    <th class="col-lg-2">Startdato</th>
                    <th class="col-lg-2">Sluttdato</th>
                    <th class="col-lg-2">Beskrivelse</th>
                    <th class="col-lg-1">Status</th>
                </tr>
                {% for prosjekt in prosjektliste %}
                    {% if (prosjekt.isArkivert() > 0) == (visArkivert == "on") %}
                    <tr>
                        <td><input type=radio  name="prosjektId" value={{ prosjekt.getId() }}></td>
                        <td><a href="prosjektdetaljer.php?prosjekt={{ prosjekt.getId() }}">{{ prosjekt.getNavn() }}</a></td>
                        <td>{{ register.hentProsjekt(prosjekt.getParent()).getNavn() }}</td>
                        <td>{{ userReg.hentBruker(prosjekt.getLeder()).getNavn()}}</td>
                        <td>{{ TeamReg.hentTeam(prosjekt.getTeam()).getNavn() }}</td>
                        <td>{{ prosjekt.getStartDato() }}</td>
                        <td>{{ prosjekt.getSluttDato() }}</td>
                        <td>{{ prosjekt.getBeskrivelse() }}</td>
                        <td>{{ prosjekt.getStatus() }}</td>
                        <!--<td><a href="prosjektadministrering.php?action=arkiver&id={{ prosjekt.getId() }}">Arkiver</a></td>-->
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <input class ="btn-primary" type=submit name=action value=Arkiver>
            <input class ="btn-primary" type=submit name=action value=Rediger>
            <input class ="btn-primary" type=submit name=action value="Opprett underprosjekt">
            <input class ="btn-primary" type=submit name=action value="Opprett grunnprosjekt">
        </form>
    </p>
    </div>
    {% include 'footer.html' %}
</body>
</html>