<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektadministrering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <br>&larr; <a href="index.php">Hovedside</a>
    <h1>Prosjektadministrering</h1>
    {% if noRadio == true %}
        <font color=red>Ingen prosjekt valgt</font>
    {% endif %}
    <p>
        <form action=prosjektoppretting.php method=GET>
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>Prosjekt</th>
                    <th>Parent</th>
                    <th>Prosjektleder</th>
                    <th>Team</th>
                    <th>Startdato</th>
                    <th>Sluttdato</th>
                    <th>Beskrivelse</th>
                </tr>
                {% for prosjekt in prosjektliste %}
                    <tr>
                        <td><input type=radio  name="prosjektId" value={{ prosjekt.getId() }}></td>
                        <td><a href="prosjektdetaljer.php?prosjekt={{ prosjekt.getId() }}">{{ prosjekt.getProsjektNavn() }}</a></td>
                        <td>{{ register.hentProsjekt(prosjekt.getProsjektParent()).getProsjektNavn() }}</td>
                        <td>{{ userReg.hentBruker(prosjekt.getProsjektLeder()).getBrukerNavn()}}</td>
                        <td>{{ teamReg.hentTeam(prosjekt.getProsjektTeam()).getTeamNavn() }}</td>
                        <td>{{ prosjekt.getProsjektStartDato() }}</td>
                        <td>{{ prosjekt.getProsjektSluttDato() }}</td>
                        <td>{{ prosjekt.getProsjektBeskrivelse() }}</td>
                        <!--<td><a href="prosjektadministrering.php?action=arkiver&id={{ prosjekt.getId() }}">Arkiver</a></td>-->
                    </tr>
                {% endfor %}
            </table>
            <input class ="btn-primary" type=submit name=action value=Arkiver>
            <input class ="btn-primary" type=submit name=action value=Rediger>
            <input class ="btn-primary" type=submit name=action value="Opprett underprosjekt">
            <input class ="btn-primary" type=submit name=action value="Opprett grunnprosjekt">
        </form>
    </p>
    </div>
</body>