<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektrapport</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="prosjektdetaljer.php?prosjektId={{ prosjekt.Id }}">Prosjektdetaljer</a>

        <h1>Prosjektrapport for prosjekt {{ prosjekt.Navn }}</h1>
        <form method=get class="col-md-4">
            <input type="hidden" name="prosjektId" value="{{ prosjekt.Id }}"/>
            <div class="form-group">
                <label for="rapportType">Type rapport:</label>
                <select id=rapportType name=rapportType class="form-control" onchange="submit()">
                    <option value="team">Pr. Team</option>
                    <option value="prosjekt" {% if type == "prosjekt" %}selected{% endif %}>Pr. Delprosjekt</option>
                    <option value="oppgave"{% if type == "oppgave" %}selected{% endif %}>Pr. Oppgave</option>
                    <option value="fremdrift"{% if type == "fremdrift" %}selected{% endif %}>Fremdriftsrapport</option>
                </select>
            </div>
        </form>
        
        <div class="rapport">
