<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosjektdetaljer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        <span class="glyphicon glyphicon-arrow-left"></span><a href="prosjektadministrering.php">Prosjektoversikt</a>

    <h1>Prosjektdetaljer for prosjekt {{ prosjekt.Navn }}</h1>
        {% if brukerTilgang.isProsjektAdmin %}
        <a href="oppgavetyper.php">Endre oppgavetyper</a><br/>
        {% endif %}
        <a href="prosjektrapport.php?prosjektId={{ prosjekt.Id }}">Vis prosjektrapport</a>
        
    {% if error == "ugyldigOppgave" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til oppgaven
        </div>
    {% elseif error == "ugyldigOppgaveAct" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å legge til eller redigere oppgaver på dette prosjektet
        </div>
    {% elseif error == "ugyldigFase" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å legge til eller redigere faser på dette prosjektet
        </div>
    {% endif %}
        
        
    <h1>Prosjekthierarki</h1>
    <table class="table table-striped">
        <tr>
            <th class="col-lg-2">Prosjekt</th>
            <th class="col-lg-2">Prosjektleder</th>
            <th class="col-lg-1">Team</th>
            <th class="col-lg-2">Startdato</th>
            <th class="col-lg-2">Sluttdato</th>
            <th class="col-lg-2">Beskrivelse</th>
            <th class="col-lg-1">Status</th>
        </tr>
        {% if parentProsjekt and parentProsjekt.Id > 1 %}
            <tr>
                <td><a href="prosjektdetaljer.php?prosjektId={{ parentProsjekt.Id }}">[{{ parentProsjekt.Navn }}]</a></td>
                <td>{{ brukerReg.hentBruker(parentProsjekt.Leder).Navn}}</td>
                <td>{{ TeamReg.hentTeam(parentProsjekt.Team).Navn }}</td>
                <td>{{ parentProsjekt.StartDato }}</td>
                <td>{{ parentProsjekt.SluttDato }}</td>
                <td>{{ parentProsjekt.Beskrivelse }}</td>
                <td>{{ parentProsjekt.Status }}</td>
            </tr>
        {% endif %}

        {% for prosjektoversikt in prosjektOversiktRoot %}
            <tr>
                <td>
                    {% if prosjektoversikt.Prosjekt.Id != prosjekt.Id %}
                    <a href="prosjektdetaljer.php?prosjektId={{ prosjektoversikt.Prosjekt.Id }}">{{ prosjektoversikt.NavnMedInnrykk|raw }}</a>
                    {% else %}
                    {{ prosjektoversikt.NavnMedInnrykk|raw }}
                    {% endif %}
                </td>
                <td>{{ brukerReg.hentBruker(prosjektoversikt.Prosjekt.Leder).Navn}}</td>
                <td>{{ TeamReg.hentTeam(prosjektoversikt.Prosjekt.Team).Navn }}</td>
                <td>{{ prosjektoversikt.Prosjekt.StartDato }}</td>
                <td>{{ prosjektoversikt.Prosjekt.SluttDato }}</td>
                <td>{{ prosjektoversikt.Prosjekt.Beskrivelse }}</td>
                <td>{{ prosjektoversikt.Prosjekt.Status }}</td>
            </tr>
        {% endfor %}
    </table>


    <h1>Faser</h1>
    <table class="table table-striped">
        <tr>
            <th>Navn</th>
            <th>Tilstand</th>
            <th>Startdato</th>
            <th>Sluttdato</th>
            <th></th>
        </tr>
        {% for fase in faseliste %}
            <tr>
                <td>{{ fase.Navn }}</td>
                <td>{{ fase.Tilstand }}</td>
                <td>{{ fase.StartDato }}</td>
                <td>{{ fase.SluttDato }}</td>
                {% if brukerKanRedigere %}
                    <td><a href="faseoppretting.php?prosjektId={{ prosjekt.Id }}&faseId={{ fase.Id }}">rediger</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if brukerKanRedigere %}
        <a href="faseoppretting.php?prosjektId={{ prosjekt.Id }}">Legg til fase</a>
    {% endif %}
    
    {% for fase in faseliste %}
        <h1>{{ fase.Navn }}</h1>
        <table class="table table-striped">
            <tr>
                <th>Oppgave</th>
                <th>Parent</th>
                <th>Oppgavetype</th>
                <th>Periode</th>
                <th>Estimert tid</th>
                <th>Registrert tid</th>
                <th>Godkjent tid</th>
            </tr>
            {% for oppgave in oppgaveliste %}
                {% if oppgave.FaseId == fase.Id %}
                <tr>
                    {% if brukerTilgang.isTeamleder and brukerKanRedigere %}
                    <td><a href="oppgavedetaljer.php?oppgaveId={{ oppgave.Id }}">{{ oppgave.Navn }}</a></td>
                    {% else %}
                    <td>{{ oppgave.Navn }}</td>
                    {% endif %}
                    <td>{{ oppgavereg.hentOppgave(oppgave.ParentId).Navn }}</td>
                    <td>{{ oppgavereg.hentOppgaveTypeTekst(oppgave.Type) }}</td>
                    <td>{{ oppgave.Periode }}</td>
                    <td>{{ oppgave.Tidsestimat }}</td>
                    <td>{{ oppgavereg.hentAktiveTimerPrOppgave(oppgave.Id) }}</td>
                    <td>{{ oppgavereg.hentGodkjenteTimerPrOppgave(oppgave.Id) }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
    {% if brukerKanRedigere %}
        <a href="oppgaveoppretting.php?prosjektId={{ prosjekt.Id }}">Legg til ny oppgave</a>
    {% endif %}
</div>
    {% include 'footer.html' %}
</body>
</html>