
    <table id="table" data-toggle="table" data-sort-name="date" data-sort-order="asc" data-search="true" data-show-columns="true" data-id-field="id" data-show-pagination-switch="true" data-filter-control="true" data-filter-show-clear="true">
        <thead>
        <tr>
            <th data-field="ansatt" data-sortable="true" data-filter-control="select">Ansatt</th>
            <th data-field="date" data-sortable="true" data-sort-name="_date_data" data-sorter="dateSorter">Dato</th>
            <!--<th data-field="date" data-sortable="true">Dato</th>-->
            <th data-field="from">Fra</th>
            <th data-field="to">Til</th>
            <th data-field="hours" data-sortable="true">Timer</th>
            <th data-field="task" data-sortable="true">Oppgave</th>
            <th data-field="oppgavetype" data-sortable="true" data-filter-control="select">Oppgavetype</th>
        </tr>
        </thead>
        <tbody>

        {% for timereg in timeregistreringer %}
        {% if timereg.isGodkjent() %}
        <tr>
            <td>{{ brukerReg.hentBruker(timereg.BrukerId).Navn }}</td>
            <td data-datoklokkeslett="{{ timereg.Dato }} {{ timereg.Fra }}">{{ timereg.Dato }}</td>
            <td>{{ timereg.Fra }}</td>
            <td>{{ timereg.Til }}</td>
            <td>{{ timereg.HourString }}</td>
            <td>{{ oppgavereg.hentOppgave(timereg.OppgaveId).Navn }}</td>
            <td>{{ oppgavereg.OppgavetypeTekst(oppgavereg.hentOppgave(timereg.OppgaveId).Type) }}</td>

        </tr>
        {% endif %}
        {% endfor %}
        </tbody>

    </table>

<script type="text/javascript">
    //<!--
    function dateSorter(a, b) {
        if (a.datoklokkeslett < b.datoklokkeslett) return -1;
        if (a.datoklokkeslett > b.datoklokkeslett) return 1;
        return 0;
    }
    
    function doSubmit() {
        $('.bootstrap-table-filter-control-ansatt').attr("name","ansatt");
        $('.bootstrap-table-filter-control-oppgavetype').attr("name","oppgavetype");
    }

    //-->
</script>