                <table class="table table-striped">
                    <tr>
                        <th>Prosjekt</th>
                        {% for oType in  oppgaveTyper %}
                            <th>{{ oType.Navn }}</th>
                        {% endfor %}
                        <th>Sum</th>
                    </tr>
                    {% for oversikt in oversiktListe %}
                    <tr>
                        <td><a href="prosjektrapport.php?rapportType=prosjekt&prosjektId={{ oversikt.Prosjekt.Id }}">{{ oversikt.NavnMedInnrykk|raw }}</a></td>
                        {% for oType in  oppgaveTyper %}
                            <td>{{ oversikt.Timer(oType.Id) }}</td>
                        {% endfor %}
                        <td>{{ oversikt.Timer }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td id="sum-linje">Totalt:</td>
                        {% for oType in  oppgaveTyper %}
                            <td>{{ oversiktListe[0].TotalTimer(oType.Id) }}</td>
                        {% endfor %}
                        <td>{{ oversiktListe[0].TotalTimer }}</td>
                    </tr>
                </table>
