<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timegodkjenning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
    {% if forceLogout %}
    <meta http-equiv="refresh" content="3; url=logout.php" />
    {% endif %}
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Systeminnstillinger</h1>
        {% if alert %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ alert }}
        </div>
        {% endif %}

        <div class="row">
            <div class="btn-group">
                <a href="oppgavetyper.php">
                    <button type="button" class="btn btn-primary">Endre oppgavetyper</button>
                </a>
                <a href="DBdump.php">
                    <button type="button" class="btn btn-primary">Ta backup</button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#factoryResetModal">
                        Factory reset
                    </button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#backup-060517-Modal">
                        Gjenopprett backup 06.05.17
                    </button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#uploadBackupModal">
                        Last opp backup
                    </button>
                </a>
            </div>
        </div>
        <br><br>
        <div class="row">
            <form class="form-horizontal" method="post" action="SystemInnstillinger.php">
                <div class="form-group">
                    <label class="control-label col-sm-5" for="tidsparameter">Definer hvor mange dager man kan redigere en
                        timeregistrering:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="tidsparameter" name="tidsparameter"
                               value="{{ systemVariabler.Tidsparameter }}">
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Endre verdi">
                </div>

            </form>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="uploadBackupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form enctype="multipart/form-data" action="SystemInnstillinger.php" method="post">
                <INPUT TYPE="hidden" name="MAX_FILE_SIZE" value="10000000">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Velg backup-fil (SQL)...</h4>
                    </div>
                    <div class="modal-body">
                        <input name="userfile" type="file">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                        <input type="submit" class="btn btn-danger" name="action" value="Gjenopprett backup">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="factoryResetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Factory reset. Er du sikker?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <a href="SystemInnstillinger.php?action=factoryreset"><button type="button" class="btn btn-danger">Factory reset</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="backup-060517-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Gjenopprett backup. Er du sikker?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                    <a href="SystemInnstillinger.php?action=backup-060517"><button type="button" class="btn btn-danger">Gjenopprett backup 06.05.17</button></a>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>