<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timegodkjenning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Timegodkjenning</h1>
    
    {% if error == "ugyldigTimereg" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å godkjenne/avvise denne timeregistreringen
        </div>
    {% elseif error == "deaktivertTimereg" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du kan ikke godkjenne/avvise en deaktivert timeregistrering
        </div>
    {% endif %}

    <!--Teamleders team-->
    {% for team in teams %}
        <h2>{{ team.getNavn() }}</h2>
        <p>
            <form method="get">
                <input type="checkbox" name="visGodkjent" onClick="submit()" {% if visGodkjent %}checked{% endif %}/> Vis godkjente og avviste timer
            </form>
        </p>
            
        <form action=timegodkjenning.php method=GET>
            <table class="table table-striped">
                <tr>
                    <th>Navn</th>
                    <th>Dato</th>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Pause</th>
                    <th>Oppgave</th>
                    <th>Status</th> 
                    <th>Endre status</th>
                </tr>
                    
                <!--Alle aktive (godkjent, venter godkjenning, avvist og gjenopprettede) timeoppføringer på teamet-->
                {% for timereg in timeregistreringer %}
                    {% if visGodkjent == "on" %}  <!-- Vis godkjente = vis de som er godkjent (0) og avvist (2) -->
                       {% if timereg.getTilstand() == 0 or timereg.getTilstand() == 2 %} 
                            <tr>
                                <td>{{ userReg.hentBruker(timereg.getBrukerId()).getNavn() }}</td>
                                <td>{{ timereg.getDato() }}</td>
                                <td>{{ timereg.getFra() }}</td>
                                <td>{{ timereg.getTil() }}</td>
                                <td>{{ timereg.getPause() }} min</td>
                                <td>{{ (oppgaveReg.hentOppgave(timereg.getOppgaveId())).getNavn() }}</td>
                                <td>{{ timereg.getTilstandTekst }}</td>
                                
                                
                                {% if timereg.getTilstand() == 0 %}
                                <td><a href="timegodkjenning.php?action=avvis&timeregId={{ timereg.getId() }}&visGodkjent=on">
                                        <button class="btn btn-danger">Avvis</button>
                                    </a></td>
                                {% elseif timereg.getTilstand == 2 %}
                                <td><a href="timegodkjenning.php?action=godkjenn&timeregId={{ timereg.getId() }}">
                                        <button class="btn btn-success">Godkjenn</button>
                                    </a></td>
                                {% endif %}
                            </tr>
                       {% endif %}
                    {% else %}  <!-- Viser de som kan godkjennes eller avvises, venter godkjenning (1) og gjenopprettet (4) --> 
                       {% if timereg.getTilstand == 1 or timereg.getTilstand() == 4 %} 
                            <tr>
                                <td>{{ userReg.hentBruker(timereg.getBrukerId()).getNavn() }}</td>
                                <td>{{ timereg.getDato() }}</td>
                                <td>{{ timereg.getFra() }}</td>
                                <td>{{ timereg.getTil() }}</td>
                                <td>{{ timereg.getPause() }} min</td>
                                <td>{{ (oppgaveReg.hentOppgave(timereg.getOppgaveId())).getNavn() }}</td>
                                <td>{{ timereg.getTilstandTekst }}</td>
                                
                                
                                <td>
                                    <a href="timegodkjenning.php?action=godkjenn&timeregId={{ timereg.getId() }}">
                                        <button class="btn btn-success">Godkjenn</button>
                                    </a>
                                    <a href="timegodkjenning.php?action=avvis&timeregId={{ timereg.getId() }}">
                                        <button class="btn btn-danger">Avvis</button>
                                    </a></td>
                               <!-- {% if timereg.getTilstand() == 0 %}
                                <td><a href="">Avvis</a></td>
                                {% elseif timereg.getTilstand == 2 %}
                                <td><a href="">Godkjenn</a></td>
                                {% endif %} -->
                            </tr>
                       {% endif %}
                    
                    {% endif %}
                    
                    
                    
                {% endfor %}
            </table>
        {% endfor %}
        </form>
    </div>
</body>
</html>