<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeoversikt</title>
</head>
<body>
        <h1>Timeoversikt - {{ brukernavn }} - <a href="logout.php">Logg ut</a></h1>
        <table border=1>
            <tr>
                <th>Dato</th>
                <th>Fra</th>
                <th>Lengde</th>
                <th>Oppgave</th>
                <th>Godkjent</th>
                <th>Deaktiver</th>
            </tr>
            {% for timereg in timeregistreringer %}
            <tr>
                <td>{{ timereg.getDato() }}</td>
                <td>{{ timereg.getFra() }}</td>
                <td>{{ timereg.getLengde() }}</td>
                <td>{{ oppgavereg.hentOppgave(timereg.getOppgaveId()).getOppgaveNavn() }}</td>
                <td>{{ timereg.getGodkjentTekst() }}</td>
                <td><input type="button" value="Deaktiver"/></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <a href="timeregistrering.php">Tilbake</a>
</body>
</html>