<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timegodkjenning</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap table -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <!-- Date Range Picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <!-- Ekstra -->
    <link rel="stylesheet" type="text/css" href="templates/footer.css" />
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <span class="glyphicon glyphicon-arrow-left"></span><a href="index.php">Hovedside</a>
    <h1>Timegodkjenning</h1>
    <p>
        <form method="get">
            <input type="checkbox" name="visGodkjent" onClick="submit()" {% if visGodkjent %}checked{% endif %}> Vis godkjente og avviste timer
        </form>
    </p>    
    {% if error == "ugyldigTimereg" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du har ikke tilgang til å godkjenne/avvise denne timeregistreringen
        </div>
    {% elseif error == "deaktivertTimereg" %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Du kan ikke godkjenne/avvise en deaktivert timeregistrering
        </div>
    {% endif %}

    <!--Teamleders team-->
    {% for team in teams %}
        <h2>{{ team.Navn }}</h2>

        <form action=timegodkjenning.php method=GET>
            <table id="table" class="table table-striped" data-toggle="table" data-sort-name="date" data-sort-order="asc" data-search="true" data-show-columns="true" data-id-field="id" data-show-pagination-switch="true" data-filter-control="true" data-filter-show-clear="true">
                <thead>
                    <tr>
                        <th><input type="checkbox" onClick="toggle_{{ team.Id}}(this)"></th>
                        <th data-field="name" data-sortable="true">Navn</th>
                        <th data-field="date" data-sortable="true" data-sort-name="_date_data" data-sorter="dateSorter">Dato</th>
                        <th data-field="from">Fra</th>
                        <th data-field="to">Til</th>
                        <th data-field="pause">Pause</th>
                        <th data-field="task" data-sortable="true">Oppgave</th>
                        <th data-fielt="status" data-sortable="true">Status</th>
                        <th data-field="changeStatus">Endre status</th>
                    </tr>
                </thead>

                <tbody>
                <!--Alle timeoppføringer på teamet-->
                {% for timereg in timeReg.hentTimeregistreringerFraTeam(team.Id) %}
                    {% if visGodkjent == "on" %}  <!-- Vis godkjente = vis de som er godkjent (0) og avvist (2) -->
                       {% if timereg.TilstandTekst == "Godkjent" or timereg.TilstandTekst == "Avvist" %}
                            <tr>
                                <td><input type="checkbox" class="checkbox_{{ team.Id}}" name='selection[]' value="{{ timereg.Id }}"></td>
                                <td>{{ timereg.BrukerNavn }}</td>
                                <td data-datoklokkeslett="{{ timereg.Dato }} {{ timereg.Fra }}">{{ timereg.Dato }}</td>
                                <td>{{ timereg.Fra }}</td>
                                <td>{{ timereg.Til }}</td>
                                <td>{{ timereg.Pause }} min</td>
                                <td>{{ timereg.OppgaveNavn }}</td>
                                <td>{{ timereg.TilstandTekst }}</td>
                                
                                {% if timereg.TilstandTekst == "Godkjent" %}
                                <td><a href="timegodkjenning.php?action=avvis&timeregId={{ timereg.Id }}&visGodkjent=on" class="btn btn-danger">
                                        Avvis
                                    </a></td>
                                {% elseif timereg.TilstandTekst == "Avvist" %}
                                <td><a href="timegodkjenning.php?action=godkjenn&timeregId={{ timereg.Id }}&visGodkjent=on"  class="btn btn-success">
                                    Godkjenn
                                    </a></td>
                                {% endif %}
                            </tr>
                       {% endif %}
                    {% else %}  <!-- Viser de som kan godkjennes eller avvises: venter godkjenning (1) og gjenopprettet, venter godkjenning (5) --> 
                       {% if timereg.TilstandTekst == "Venter godkjenning" or timereg.TilstandTekst == "Gjenopprettet, venter godkjenning" %}
                            <tr>
                                <td><input type="checkbox" class="checkbox_{{ team.Id}}" name='selection[]' value="{{ timereg.Id }}"></td>
                                <td>{{ timereg.BrukerNavn }}</td>
                                <td data-datoklokkeslett="{{ timereg.Dato }} {{ timereg.Fra }}">{{ timereg.Dato }}</td>
                                <td>{{ timereg.Fra }}</td>
                                <td>{{ timereg.Til }}</td>
                                <td>{{ timereg.Pause }} min</td>
                                <td>{{ timereg.OppgaveNavn }}</td>
                                <td>{{ timereg.TilstandTekst }}</td>
                                
                                
                                <td>
                                    <a href="timegodkjenning.php?action=godkjenn&timeregId={{ timereg.Id }}" class="btn btn-success">
                                        Godkjenn
                                    </a>
                                    <a href="timegodkjenning.php?action=avvis&timeregId={{ timereg.Id }}" class="btn btn-danger">
                                        Avvis
                                    </a></td>
                            </tr>
                       {% endif %}
                    
                    {% endif %}
                    
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" name="action" value="Godkjenn alle markerte">
            <input type="submit" name="action" value="Avvis alle markerte">
        </form>
        <script language="JavaScript">
            //Basert på http://stackoverflow.com/questions/386281/how-to-implement-select-all-check-box-in-html
            function toggle_{{ team.Id}}(source) {
                checkboxes = document.getElementsByClassName('checkbox_{{ team.Id}}');
                for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = source.checked;
                }
            }
        </script>
    {% endfor %}
    </div>
    <script type="text/javascript">
        //<!--
        function dateSorter(a, b) {
            if (a.datoklokkeslett < b.datoklokkeslett) return -1;
            if (a.datoklokkeslett > b.datoklokkeslett) return 1;
            return 0;
        }
        //-->
    </script>
    {% include 'footer.html' %}
</body>
</html>