<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timegodkjenning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {% include 'header.html' %}

        <h1>Timegodkjenning</h1>

        <!--Teamleders team-->
        {% for team in teams %}
            <h2>{{ team.getTeamNavn() }}</h2>
            
            <table class="table table-striped">
                <tr>
                    <th>Navn</th>
                    <th>Dato</th>
                    <th>Fra</th>
                    <th>Til</th>
                    <th>Oppgave</th>
                    <th>Status</th>
                    <th>Endre status</th>
                </tr>
                    
                <!--Alle timeoppføringer på teamet-->
                {% for timereg in timeregistreringer %}
                    <tr>
                        <td>{{ userReg.hentBruker(timereg.getBrukerId()).getBrukerNavn() }}</td>
                        <td>{{ timereg.getDato() }}</td>
                        <td>{{ timereg.getFra() }}</td>
                        <td>{{ timereg.getTil() }}</td>
                        <td>{{ (oppgaveReg.hentOppgave(timereg.getOppgaveId())).getOppgaveNavn() }}</td>
                        <td>{{ timereg.getGodkjentTekst() }}</td>
                        
                        {% if timereg.getGodkjent() == false %}
                        <td><a href="?action=godkjenn&timeregId={{ timereg.getTimeregId() }}">Godkjenn</a></td>
                        {% else %}
                        <td><a href="?action=avvis&timeregId={{ timereg.getTimeregId() }}">Avvis</a></td>
                        {% endif %}
                    </tr>
          
                {% endfor %}
            </table>
        {% endfor %}

    </div>
</body>
</html>