<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timeregistrering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    {% include 'header.html' %}
        <h1>Korrigering av timeregistrering - {{ brukernavn }}</h1>

    <form method="post" action="timekorrigering.php" class="col-md-4">
        <div class="form-group ">
            <p><b>Oppgave:</b>
            <br/>{{ oppgavenavn }}</p> 
            <input type="hidden" name="gammelTimeId" value="{{ gammelTimeId }}"
            <input type="hidden" name="timeId" value="{{ timereg.getTimeregId() }}">
            <input type="hidden" name="oppgaveId" value="{{ oppgave.getOppgaveId() }}">
            <input type="hidden" name="dato" value="{{ timereg.getDato() }}"/>
        </div>
        <div class="form-group ">
            <label for="dato">Dato:</label>
            <input type="date" class="form-control" id="dato" name="dato" value="{{ timereg.getDato() }}" disabled>
        </div>
        <div class="form-group ">
            <label for="starttid">Starttid:</label>
            <input type="time" class="form-control" id="starttid" name="starttid" value="{{ timereg.getFra() }}">
        </div>
        <div class="form-group ">
            <label for="stopptid">Stopptid:</label>
            <input type="time" class="form-control" id="stopptid" name="stopptid" value="{{ timereg.getTil() }}">
        </div>
        <div class="form-group">
            <label for="pause">Pause:</label>
            <input type="number" class="form-control" id="pause" name="pause" value="{{ timereg.getPause() }}"/>
        </div>
        <div class="form-group">
            <label for="kommentar">Kommentar til korrigeringen:</label>
            <input type="text" name="kommentar" rows="5" cols="15" id="kommentar">
        </div>
        <div class="form-group ">
            <input type="submit" name="lagre" value="Lagre korrigering">
            <input type="submit" name="avbryt" value="Avbryt">
        </div>
    </form>
</div>
</body>
</html>